extends tenda
include mixins/article

    #contenedor
	block content
    .jumbotron
        h1 Benvingut a Wildmusic Store!!
        a.btn.btn-primary.btn-lg(href='#', role='button') Veure les ofertes
    div.row
      section#s1
        article.imagen
          img(src='imatges\JEM7V_WH.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Guitarra JEM modelo 7V_WH', 2555);")
          br
          h1  Ibanez JEM 7V_WH 
        article.imagen
          img(src='imatges\Geddy_Lee_JBass_MN_3TS.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Bajo Geddy Lee JBass MN-3TS', 1082);")
          br
          h1  Geddy Lee JBass MN-3TS 
        article.imagen
          img(src='imatges\Pearl-VBL925F-C230.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Batería Pearl VBL925F-C230', 911);")
          br
          h1  Pearl VBL925F-C230 
        article.imagen
          img(src='imatges\Korg-KROME-88 WORKSTATION.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Sintetizador Korg KROME-88 WORKSTATION', 1649);")
          br
          h1  Korg KROME-88 WORKSTATION 
        article.imagen
          img(src='imatges\65 TWIN-REVERB.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Amplificador Valvular de Guitarra 65 Twin-Reverb de Fender', 1808);")
          br
          h1  '65 Twin Reverb Fender Amplifier 
        article.imagen
          img(src='imatges\Ampeg_BA-210-V2.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Amplificador a Transistores de Bajo BA-210 V2 de Ampeg', 70.99);")
          br
          h1  Ampeg BA-210 Bass Amplifier 
        article.imagen
          img(src='imatges\E945_Sennheiser.jpg')
          br
          input(type='button', value='comprar', onclick="comprar('Micrófono E945 de SENNHEISER', 198);")
          br
          h1  E945 SENNHEISER Microphone 
        article.imagen
          img(src='imatges\IBANEZ-JSA20-VB.png')
          br
          input(type='button', value='comprar', onclick="comprar('Guitarra Acústica JSA20-VB de Ibanez', 1405);")
          br
          h1  Ibanez JSA20-VB 
      aside#total
        p#suma Total
        - for (var i = 0; i < 9; ++i) {
            +article(pics[i].image, pics[i].getPrice())
        - }
